<div class="container">
  <div class="login-form">
    <form (submit)="authorization($event)" ngNativeValidate  action="#">
      <p id="title"><strong>Authorization Form</strong></p>
      <ul id="message"></ul>
      <div>
        <label for="login">
          Login:
        </label>
        <input type="text" name="login" id="login" placeholder="Enter login" [(ngModel)]="login" autocomplete="on"  autofocus required />
      </div>
      <label for="password">
        Password:
      </label>
      <input type="password" id="password" name="password" placeholder="Enter password" [(ngModel)]="password" autocomplete="on" required/>
      <div class="login-form-bottom">
        <button type="submit">Authorization</button>
      </div>
    </form>
  </div>
</div>

