.container {
  margin: 10% auto;
  justify-content: space-between;
  flex-direction: column;
  width: 30%;
  font-size: 120%;
  border-radius: 10px;
  line-height: 150%;
  color: var(--accent-color);
}
